.vscode/**
src/**
test/**
tests/**
out/test/**
out/**/*.map
out/**/*.ts
private/**
.github/**
.git/**
.gitignore
.env*
*.log
node_modules/**
!node_modules/ts-morph/**
!node_modules/typescript/**
!node_modules/@ts-morph/**
node_modules/ts-morph/lib/**/*.d.ts
node_modules/typescript/lib/typescript.d.ts
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/*.test.js
node_modules/**/.bin/**
